@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  background: repeating-linear-gradient(to left, #f6aa2f, #4e46c7);
  margin-top: 7.2rem;
}

.profile-title {
  font-size: 6.6rem;
  font-family: "Fredoka One", cursive;
  color: #18181a;
  margin-bottom: 6rem;
}
